.onboarding-layout-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  /* align-items: center; */
}

.onboarding-layout-image {
  width: 44%;
  max-width: 630px;
  /* height: 100vh; */
}

.onboarding-layout-image img {
  width: 100%;
  height: 100vh;
}

.onboarding-layout-first {
  width: 44%;
  max-width: 630px;
  background-color: rgba(4, 31, 98, 0.1);
  background-image: url("../../assets/doodle.svg");
  display: flex;
  align-items: center;
  /* justify-content: center; */
  padding-left: 40px;
}

.onboarding-layout-family {
  flex-direction: column;
  gap: 48px;
  display: flex;
  width: 62%;
  max-width: 392px;
}

.onboarding-layout-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.onboarding-layout-text h2 {
  color: var(--text-default, #262626);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 166.667% */
  text-transform: capitalize;
}

.onboarding-layout-text p {
  color: var(--text-secondary, #666);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.appstore-buttons {
  display: flex;
  gap: 24px;
}

.appstore-buttons > svg {
  cursor: pointer;
}

.onboarding-layout-body {
  flex: 1;
}

.onboarding-layout-wrapper {
  width: 58%;
  max-width: 468px;
  margin: 0px auto;
  padding: 96px 0px 0px;
  height: 85vh;
  overflow-y: scroll;
}

.onboarding-layout-wrapper::-webkit-scrollbar {
  display: none;
}
