.analytics-page {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.analytics-page > h2 {
  color: var(--text-default, #262626);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 120% */
}

.analytics-page > div {
  display: flex;
  gap: 25px;
}
