.side {
  width: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  gap: 40px;
  height: fit-content;
  overflow: scroll;
  max-height: 65vh;
  padding: 20px 0px;
}

.side::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.side {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.sideFlex {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
.sideFlexstr {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 30px;
}
.imageFlex {
  display: flex;
  gap: 15px;
  align-items: center;
}
.imageFlex div h4 {
  color: #33343a;
  font-size: 14px;
  font-weight: 500;
  margin: 0px;
}
.imageFlex div h5 {
  color: #45464e;
  font-size: 14px;
  font-weight: 500;
  margin: 0px;
}
.dates {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}
.dates h4 {
  color: #262626 !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  margin: 0px !important;
}
.dates h5 {
  color: #b2b2b2 !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  margin: 0px !important;
}
.date {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
}
.date h6 {
  color: #a6a8b1;
  font-size: 16px;
  font-weight: 500;
  margin: 0px;
}
.date p {
  color: #10c00c;
  font-size: 14px;
  font-weight: 500;
  margin: 0px;
}
.bankImageCover {
  border: 5px solid var(--Palette-Blue-400, #9db8fb);
  padding: 5px;
  border-radius: 50px;
}
