.design-container {
  width: 100%;
  background: #f5f5f5;

  padding: 30px 0px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}
.phoneLaptop {
  width: 500px;
  height: 400px;
}
.design-cont {
  display: flex;
  justify-content: space-between;
  gap: 80px;
}
.design-conts {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 80px;
}
.designs-conts {
  display: flex;
  gap: 80px;
  flex-direction: row;
  align-items: center;
}
.designs-images {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 40%;
}
.design-header {
  text-align: start;
  display: flex;
  width: 50%;
  flex-direction: column;
  gap: 8px;
}
.design-images {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
}
.design-images1 {
  position: absolute;
  top: -90px;
}
.design-images2 {
  top: 60px;
  position: absolute;
}
.design-header > p {
  color: var(--palette-orange-300, #666666;);
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 162%; /* 27.54px */
}

.design-header > h2 {
  font-family: SF Pro Display;
  font-size: 64px;
  font-weight: 500;
  line-height: 76.38px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #262626;
}

.design-header > h2 span {
  color: var(--text-secondary, #062983);
}

.design-body {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.design-wrapper {
  display: flex;
  width: 100%;
  gap: 32px;
}

.design-wrapper > div {
  width: 49%;
}
.revolute-containers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 57px 70px;
  background-color: #9db7fb60;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 32px;
}
.revolutes-containers {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  padding: 57px 70px;
  background-color: var(--Primitives-White, #ffffff);

  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 32px;
}
.revolutess-containers {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  padding: 0px 0px 0px 70px;
  background-color: var(--Primitives-White, #062983);
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 32px;
}
.design-headers h2 {
  font-family: SF Pro Display;
  font-size: 64px;
  font-weight: 500;
  line-height: 76.38px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #e6edfe;
}
.design-headers p {
  font-family: SF Pro Display;
  font-size: 20px;
  font-weight: 400;
  line-height: 32.24px;
  letter-spacing: -0.02em;
  text-align: left;

  color: #dbdbdb;
}
@media screen and (max-width: 1200px) {
  .daily_neads_list_div {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 5px;
  }
  .welcome-action > div {
    width: 80% !important;
  }
  .daily_neads_list_div > div {
    flex: 0 1 calc(50% - 4px);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 975px) {
  .design-wrapper > div {
    width: 100%;
    height: fit-content;
    padding: 10px;
  }
  .design-cont {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    width: 100%;
    flex-direction: column;
  }
  .design-wrappers {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 32px;
  }
  .design-header {
    text-align: start;
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 8px;
  }
  .revolute-containers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 57px 20px;
    background-color: #9db7fb60;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 32px;
  }
  .daily_neads_list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
  }
  .design-images {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50%;
  }
  .design-images1 {
    position: inherit;
    top: 10px;
    width: 300px;
  }
  .design-images2 {
    position: inherit;
    top: -30px;
    width: 300px;
  }
  .daily_neaads_list_div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
  }
  .design-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    gap: 32px;
  }
  .designs-conts {
    display: flex;
    flex-direction: column;
  }
  .design-conts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
  }
  .designs-images {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
  }
  .revolutess-containers {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    padding: 20px 0px 0px 70px;
    background-color: var(--Primitives-White, #062983);
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 32px;
  }
}
