.table {
  padding: 25px 15px;
  width: 100%;
  border-radius: 12px;
  background: white;
}
.table_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.table_header h1 {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
}
.table_header h1:nth-child(2) {
  width: 20%;
}
.table_body {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.table_body div h1 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
}
.table_body div:nth-child(2) {
  width: 20%;
}
.table-container {
  width: 92%;
  padding: 36px;
  background: white;
  border-radius: 16px;
}

.custom-table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 16px;
}

.custom-table th,
.custom-table td {
  padding: 8px;
}
.more {
  font-size: 30px;
  text-align: center;
}
.custom-table th {
  background-color: white;
  border-bottom: 0.5px solid #99999938;
  color: #999999;

  text-align: start;
}
.custom-table tbody td {
  color: #666666;
}
.Successful {
  padding: 1px 2px;
  background-color: rgba(133, 191, 133, 0.31);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #059d02;
  border-radius: 12px;
}
