.modalOute {
  position: fixed;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e9e4e4c6;
  width: 100vw;
  height: 100vh;
}
.modalInner {
  width: 42%;
  height: fit-content;
  max-height: 50vh;
  background: #fff;
  border-radius: 24px;
  padding: 30px 40px;
  overflow: scroll;
}
.buttons_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
}
.buttons_flex button {
  width: 50%;
  padding: 18px;
  border-radius: 30px;
}
@media screen and (max-width: 975px) {
  .modalInner {
    width: 92%;
    height: -moz-fit-content;
    height: fit-content;
    max-height: 65vh;
    background: #fff;
    border-radius: 24px;
    padding: 30px 40px;
    overflow: scroll;
  }
}
